@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Inter Tight", sans-serif;
  @apply dark:bg-dark_black;
}

body{
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.instrument-font {
  font-family: "Instrument Serif", serif;
}

.hero-mask {
  -webkit-mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}



@layer components {
  body {
    @apply text-base font-normal;
    -webkit-text-size-adjust: 100%;
  }

  h1 {
    @apply 2xl:text-9xl 2xl:leading-[156px] md:text-7xl text-5xl font-medium text-dark_black dark:text-white;
  }

  h2 {
    @apply text-4xl md:text-5xl font-medium text-dark_black dark:text-white;
  }

  h3 {
    @apply text-5xl font-medium text-dark_black dark:text-white;

  }

  h4 {
    @apply text-2xl font-medium text-dark_black dark:text-white;
  }

  h5 {
    @apply text-xl font-medium;
  }

  h6 {
    @apply text-lg lg:text-xl font-medium
  }

  p {
    @apply text-base  font-normal text-dark_black dark:text-white;
  }

  .container {
    @apply w-full max-w-[82.8rem] my-0 mx-auto py-0 sm:px-7 px-5;
  }
}

